_ReSharper*/
bin/
debug/
Deploy/
obj/
Package-output/
packages/*
Publish/*
release/
Test-Applications/*
testresults/
*.suo
*.user
.nuget/NuGet.exe

HansKindberg-On-Build/Build/HansKindberg-On-Build.props
HansKindberg-On-Build/Build/HansKindberg-On-Build.targets

!packages/repositories.config
!Publish/ReadMe.txt
!Test-Applications/ReadMe.txt