_ReSharper*/
bin/
debug/
Deploy/
obj/
Package-output/
packages/*
Publish/*
release/
Test-Applications/*
testresults/
*.suo
*.user
.nuget/NuGet.exe

HansKindberg.Build.XmlTransformation.WebApplication/Web.config

!packages/repositories.config
!packages/SomePackage/Configuration/Web.Template.config
!Publish/ReadMe.txt
!Test-Applications/ReadMe.txt