<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="HansKindberg.Build.XmlTransformation.Tasks" version="1.0.0-alpha-0" targetFramework="net45" developmentDependency="true" />
	<package id="System.IO.Abstractions" version="1.4.0.83" targetFramework="net45" developmentDependency="true" />
</packages>